parameters:
    level: 8
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
